<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tickets4u">

    <!-- Permisos (añade los que necesites más adelante) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Tickets4U"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tickets4U">

        <!-- Carrito -->
        <activity
            android:name=".ui.cart.CartActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />


        <!-- Pago -->
        <activity
            android:name=".eventos.ui.payment.PaymentActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".eventos.ui.payment.PaymentSuccessActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".eventos.ui.payment.PaymentLoadingActivity"
            android:exported="false" />



        <activity
            android:name=".DatosDeEventoActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
        <!-- Activity principal -->
        <activity android:name=".TicketWallet" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PaginaCompraActivity"
            android:exported="false" />
        <!-- Activity de detalles del evento -->
        <activity android:name=".TicketDetailActivity" />

    </application>

</manifest>
